In [99]:
import numpy as np
import pandas as pd

from timeit import default_timer as timer

In [100]:
eventcols = ['GAME_ID','BAT_ID','PIT_ID','EVENT_TX','EVENT_RUNS_CT']
events15 = pd.read_csv("data/events-2015.csv",usecols=eventcols)

In [101]:
events15.head() # jupyter automatically prints the last line of each cell

        GAME_ID    BAT_ID    PIT_ID   EVENT_TX  EVENT_RUNS_CT
0  ANA201504100  escoa003  santh001       63/G              0
1  ANA201504100  mousm001  santh001        6/P              0
2  ANA201504100  cainl001  santh001      D8/L+              0
3  ANA201504100  hosme001  santh001   S9/G.2-H              1
4  ANA201504100  morak001  santh001  S7/L+.1-2              0

In [102]:
# date mapping example

gamecols = ['GAME_ID','GAME_DT']
games15 = pd.read_csv("data/games-2015.csv",usecols = gamecols)

games15.set_index('GAME_ID',inplace = True)

events15['GAME_DT'] = events15['GAME_ID'].apply(lambda x: games15.get_value(x,'GAME_DT'))


events15.head(10)

        GAME_ID    BAT_ID    PIT_ID   EVENT_TX  EVENT_RUNS_CT   GAME_DT
0  ANA201504100  escoa003  santh001       63/G              0  20150410
1  ANA201504100  mousm001  santh001        6/P              0  20150410
2  ANA201504100  cainl001  santh001      D8/L+              0  20150410
3  ANA201504100  hosme001  santh001   S9/G.2-H              1  20150410
4  ANA201504100  morak001  santh001  S7/L+.1-2              0  20150410
5  ANA201504100  gorda001  santh001        6/P              0  20150410
6  ANA201504100  calhk001  vargj001       63/G              0  20150410
7  ANA201504100  troum001  vargj001       13/G              0  20150410
8  ANA201504100  pujoa001  vargj001      3/P3F              0  20150410
9  ANA201504100  riosa002  santh001       7/L+              0  20150410